"always-auth" "true"
"@askiggy:registry" "https://npm.pkg.github.com"
"//npm.pkg.github.com/:_authToken" "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"
"//npm.pkg.github.com/:_header:Authorization" "token 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"
